@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --text-glow-colour: #00e660;
    --highlight-glow-colour: #e60000;
    --tip-glow-colour: #f0f;
    
    --terminal-background-colour: #003000;

    --planet-radius: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.background {
    z-index: -1;
}

@font-face {
    font-family: "terminal";
    src: url("../fonts/3270Condensed-Regular.ttf");
}

.terminal {
    font-family: "terminal";
}

.blink {
    animation: blinker 1s linear infinite;
}

.title-disappear {
    
    animation: disappear 4s linear 1 forwards;
}

.main-appearance {
    animation: appear 0.2s linear 1 forwards;
}

.block-wrapper {
    @apply flex-col items-center justify-center hidden h-full w-full text-green-400 px-10 py-5;

    text-shadow: 0 0 10px #3f3, 0 0 30px var(--text-glow-colour), 0 0 50px var(--text-glow-colour);

    background-color: black;
    background-image: radial-gradient(
        rgba(0, 150, 0, 0.7), black 120%
    );
}

.tip-text {
    text-shadow: 0 0 10px #f3f, 0 0 30px var(--tip-glow-colour), 0 0 50px var(--tip-glow-colour);
}

.highlight {
    @apply text-red-50;
    cursor: pointer;
    text-shadow: 0 0 10px #f33, 0 0 30px var(--highlight-glow-colour), 0 0 50px var(--highlight-glow-colour);
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        pointer-events: none;
    }
    10% {
        opacity: 1;
        /* zoom in */
        transform: scale(1.3);
    }
    100% {
        opacity: 0;
        transform: scale(30);
    }
}

@keyframes appear {
    0% {
        transform: scale(0);
        pointer-events: none;
    }
    100% {
        transform: scale(1);
        pointer-events: auto;
    }
}


.tip {
    pointer-events: none;
}

/* Planet render (3d sphere) */

.planet-render {
    margin: calc(var(--planet-radius) * 0.5);

    perspective: calc(var(--planet-radius) * 4);
    perspective-origin: 50% 50%;
    margin: 0;
}

.sphere {
    position: relative;
    margin: 0 auto;
    width: var(--planet-radius);
    height: var(--planet-radius);
    transform-style: preserve-3d;

    animation: spin 60s infinite linear;
}

div.equator {
    transform:rotateX(90deg);
}

.sphere > div {
    border: solid 10px #0c0;
    border-radius: 50%;
    height: var(--planet-radius);
    opacity: 0.8;
    position: absolute;
    width: var(--planet-radius);
}

div.tropic {
    height: calc(var(--planet-radius) - calc(var(--planet-radius)*0.14));
    margin: calc(var(--planet-radius)*0.07);
    width: calc(var(--planet-radius) - calc(var(--planet-radius)*0.14));
}

div.north {
    transform: translateY(calc(-0.33 * var(--planet-radius))) rotateX(90deg);
}

div.south {
    transform: translateY(calc(0.33 * var(--planet-radius))) rotateX(90deg);
}

@keyframes spin {
    0% {
        transform: rotateX(15deg) rotateY(0) rotateZ(15deg);
    }
    50% {
        transform: rotateX(-15deg) rotateY(180deg) rotateZ(-15deg);
    }
    100% {
        transform: rotateX(15deg) rotateY(360deg) rotateZ(15deg);
    }
}